## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [2]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [3]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [4]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [5]:
# Use this space to do any additional research
# and familiarize yourself with the data.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54639 entries, 0 to 54638
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first        54639 non-null  object
 1   last         54639 non-null  object
 2   job          54639 non-null  object
 3   phone        54639 non-null  object
 4   email        54639 non-null  object
 5   client_id    54639 non-null  int64
 6   order_id     54639 non-null  int64
 7   order_date   54639 non-null  object
 8   order_week   54639 non-null  int64
 9   order_year   54639 non-null  int64
 10  item_id      54639 non-null  object
 11  category     54639 non-null  object
 12  subcategory  54639 non-null  object
 13  unit_price   54639 non-null  float64
 14  unit_cost    54639 non-null  float64
 15  unit_weight  54639 non-null  float64
 16  qty          54639 non-null  int64
 17  line_number  54639 non-null  int64
dtypes: float64(3), int64(6), object(9)
memory usage: 7.5+ MB

In [6]:
# What three item categories had the most entries?
df['category'].value_counts().nlargest(3)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [7]:
df['category']

0              decor
1        consumables
2           software
3        consumables
4        consumables
            ...
54634       software
54635    consumables
54636    consumables
54637      furniture
54638       software
Name: category, Length: 54639, dtype: object

In [8]:
# For the category with the most entries, which subcategory had the most entries?
df['subcategory'].value_counts().nlargest(1)

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [9]:
# Which five clients had the most entries in the data?
df['client_id'].value_counts().nlargest()

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [10]:
# Store the client ids of those top 5 clients in a list.
most_entries = df['client_id'].value_counts().nlargest().index.tolist()
most_entries

[33615, 66037, 46820, 38378, 24741]

In [11]:
# How many total units (the qty column) did the client with the most entries order order?
total_units = df.loc[df['client_id'] == most_entries[0]]['qty'].sum()
total_units

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [13]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
df['line_subtotal'] = df['unit_price'] * df['qty']
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31

In [14]:
df['total_weight'] = df['qty'] * df['unit_weight']

In [15]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
def shipping_price(weight_in_lbs):
    if weight_in_lbs > 50:
        return 7 * weight_in_lbs 
    return 10 * weight_in_lbs 
df['shipping_price'] = df['total_weight'].apply(shipping_price)
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping_price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,consumables,pens,24.95,15.09,1.49,21,0,523.95,31.29,312.90
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,software,project management,13.52,7.86,1.68,39,6,527.28,65.52,458.64
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,consumables,pens,36.42,24.85,1.23,29,3,1056.18,35.67,356.70
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,consumables,misc,195.10,108.17,46.43,20,1,3902.00,928.60,6500.20

In [16]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
df['total_price'] = ((df['shipping_price'] + df['line_subtotal']) * 1.0925).round(2)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping_price,total_price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,wall art,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,pens,24.95,15.09,1.49,21,0,523.95,31.29,312.90,914.26
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,project management,13.52,7.86,1.68,39,6,527.28,65.52,458.64,1077.12
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,pens,36.42,24.85,1.23,29,3,1056.18,35.67,356.70,1543.57
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,misc,195.10,108.17,46.43,20,1,3902.00,928.60,6500.20,11364.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,logistics,83.13,51.60,2.25,33,8,2743.29,74.25,519.75,3564.87
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,549.90,3849.30,14813.24
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,1976.00,13832.00,49184.90
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,stands,1.48,1.22,18.04,112,0,165.76,2020.48,14143.36,15632.71
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,project management,3.01,1.61,2.07,1031,5,3103.31,2134.17,14939.19,19711.43

In [17]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
df['total_cost'] = (df['unit_cost'] * df['qty']) + df['shipping_price']
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping_price,total_price,total_cost
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08,85597.05
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,31.29,312.90,914.26,629.79
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,65.52,458.64,1077.12,765.18
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,36.42,24.85,1.23,29,3,1056.18,35.67,356.70,1543.57,1077.35
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,195.10,108.17,46.43,20,1,3902.00,928.60,6500.20,11364.40,8663.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,83.13,51.60,2.25,33,8,2743.29,74.25,519.75,3564.87,2222.55
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,206.59,175.46,11.70,47,0,9709.73,549.90,3849.30,14813.24,12095.92
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,65.66,57.31,4.16,475,6,31188.50,1976.00,13832.00,49184.90,41054.25
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,1.48,1.22,18.04,112,0,165.76,2020.48,14143.36,15632.71,14280.00
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,3.01,1.61,2.07,1031,5,3103.31,2134.17,14939.19,19711.43,16599.10

In [18]:
# Create a column for the profit of each line using line cost and line price
df['profit'] = df['total_price'] - df['total_cost']
df.head(50)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping_price,total_price,total_cost,profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08,85597.05,46242.03
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,15.09,1.49,21,0,523.95,31.29,312.90,914.26,629.79,284.47
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,7.86,1.68,39,6,527.28,65.52,458.64,1077.12,765.18,311.94
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,24.85,1.23,29,3,1056.18,35.67,356.70,1543.57,1077.35,466.22
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,108.17,46.43,20,1,3902.00,928.60,6500.20,11364.40,8663.60,2700.80
5,Jessica,Reyes,"Production designer, theatre/television/film",5016915923,jessica.reyes@grimes.net,33615,1327730,2023-05-02,18,2023,...,154.44,2.79,78,0,13481.52,217.62,1523.34,16392.81,13569.66,2823.15
6,Brian,Moore,Barista,+1-893-400-2733x982,moore.official@martinez.com,87213,8080280,2023-04-19,16,2023,...,231.95,1.73,56,5,13751.36,96.88,678.16,15764.25,13667.36,2096.89
7,Jesus,Wright,Theme park manager,605.947.9467x66513,wright.jesus.7579@meadows.com,46709,8946782,2023-02-14,7,2023,...,16.97,5.12,22,4,461.78,112.64,788.48,1365.91,1161.82,204.09
8,Rebecca,Brown,Chiropodist,665-955-0156x926,rbrown850@lewis.info,73362,9394118,2023-05-13,19,2023,...,59.00,0.27,49,3,4109.14,13.23,132.30,4633.77,3023.30,1610.47
9,Greg,Garcia,"Secretary, company",(231)342-7216x1421,ggarcia@bentley.biz,58789,9665852,2023-04-14,15,2023,...,54.15,2.47,78,1,5216.64,192.66,1348.62,7172.55,5572.32,1600.23
10,Kyle,Williams,"Engineer, broadcasting (operations)",+1-432-234-2942,communitywilliams9024@taylor-padilla.biz,81012,5775924,2023-04-12,15,2023,...,457.16,4.92,98,0,50960.00,482.16,3375.12,59361.12,48176.80,11184.32
11,Roberto,Howard,"Surveyor, land/geomatics",311.284.4575,roberto.howard.1290@davis-reese.info,74112,2859900,2023-02-06,6,2023,...,3.65,1.82,211,6,890.42,384.02,2688.14,3909.58,3458.29,451.29
12,Jessica,Reyes,"Production designer, theatre/television/film",5016915923,jessica.reyes@grimes.net,33615,6059361,2023-05-16,20,2023,...,198.38,27.51,568,2,130492.32,15625.68,109379.76,262060.25,222059.60,40000.65
13,Patricia,Gould,Lobbyist,+1-694-749-5807x94968,newspapergould@walsh.biz,18145,3470698,2023-04-19,16,2023,...,30.08,2.01,44,0,1483.68,88.44,619.08,2297.27,1942.60,354.67
14,Katherine,Taylor,"Psychologist, clinical",(943)632-3743x028,taylor.katherine.733@odonnell.org,48855,5953045,2023-05-11,19,2023,...,20.95,6.56,157,1,6162.25,1029.92,7209.44,14608.57,10498.59,4109.98
15,Matthew,Orozco,Research scientist (maths),+1-259-213-7449x4333,orozcomatthew@carr.com,67407,5014569,2023-04-09,14,2023,...,26.84,4.25,29,2,869.71,123.25,862.75,1892.71,1641.11,251.60
16,Joseph,Jordan,Government social research officer,680.657.3271x16477,jordan_joseph_4684@gibson.net,26185,2101230,2023-05-13,19,2023,...,4.06,6.89,23,0,157.78,158.47,1109.29,1384.27,1202.67,181.60
17,Carrie,Green,Colour technologist,+1-242-699-5329x474,c.green@oliver-smith.com,17355,4397711,2023-04-18,16,2023,...,26.82,29.12,49,0,1637.09,1426.88,9988.16,12700.59,11302.34,1398.25
18,David,Reyes,"Production assistant, television",714.475.3974,davidreyes@daniels.org,28523,6832072,2023-04-05,14,2023,...,9.63,6.86,29,1,399.33,198.94,1392.58,1957.66,1671.85,285.81
19,Shelby,Williams,Colour technologist,664.584.8160x389,williamstry70@armstrong.com,77184,7573941,2023-05-29,22,2023,...,183.99,8.11,233,4,46378.65,1889.63,13227.41,65119.62,56097.08,9022.54
20,Tricia,Stephenson,"Lecturer, further education",(978)811-8729x522,triciastephenson@vasquez.org,61603,7490302,2023-03-12,10,2023,...,69.36,4.03,136,2,13386.48,548.08,3836.56,18816.17,13269.52,5546.65
21,Patrick,Anderson,Commercial art gallery manager,947-812-9604x27025,andersonboard7205@delgado-hodge.org,51869,5020751,2023-03-16,11,2023,...,39.52,4.18,52,4,2764.84,217.36,1521.52,4682.85,3576.56,1106.29
22,Peter,Roberts,Architectural technologist,9238354425,roberts.peter@warren-sandoval.com,85413,3401371,2023-04-03,14,2023,...,235.57,10.08,287,4,105547.12,2892.96,20250.72,137434.14,87859.31,49574.83
23,Christopher,Rhodes,"Engineer, manufacturing systems",001-319-767-5123,rhodeschristopher9096@alvarado.info,74159,6512694,2023-03-09,10,2023,...,313.09,7.97,60,3,22955.40,478.20,3347.40,28735.81,22132.80,6603.01
24,Glenn,Garcia,Textile designer,573.981.6374,determinegarcia5685@velasquez.com,33804,6024379,2023-01-26,4,2023,...,3.53,6.90,2163,2,11182.71,14924.70,104472.90,126353.75,112108.29,14245.46
25,Peter,Roberts,Architectural technologist,9238354425,roberts.peter@warren-sandoval.com,85413,9362283,2023-01-18,3,2023,...,5.10,1.23,129944,4,927800.16,159831.12,1118817.84,2235930.16,1781532.24,454397.92
26,Patrick,Anderson,Commercial art gallery manager,947-812-9604x27025,andersonboard7205@delgado-hodge.org,51869,8668707,2023-04-07,14,2023,...,85.53,2.08,51,0,5066.34,106.08,742.56,6346.22,5104.59,1241.63
27,Jacob,Mendoza,Air cabin crew,+1-264-485-0270x066,jacobmendoza@johnson.biz,54932,5175749,2023-05-28,21,2023,...,35.55,0.50,52,1,1960.92,26.00,260.00,2426.36,2108.60,317.76
28,Tiffany,Lowe,Medical illustrator,001-755-263-0037x84650,lowetiffany3935@rodriguez.com,87125,8026387,2023-01-11,2,2023,...,137.62,16.90,54,4,11346.48,912.60,6388.20,19375.14,13819.68,5555.46
29,Caleb,Rice,Technical brewer,868.703.3751x760,riceelse@collins.com,10643,1940019,2023-03-03,9,2023,...,125.57,5.56,136,3,21220.08,756.16,5293.12,28965.67,22370.64,6595.03
30,Deborah,Cook,"Radiographer, therapeutic",747.841.2427x57672,cook.d@martin-yoder.com,10351,3052159,2023-01-27,4,2023,...,106.62,3.94,309,5,50549.31,1217.46,8522.22,64535.65,41467.80,23067.85
31,Richard,Kennedy,Race relations officer,+1-551-603-4716,rkennedy@mcneil.info,10559,7323275,2023-01-11,2,2023,...,372.06,2.35,67,3,27481.39,157.45,1102.15,31227.52,26030.17,5197.35
32,Connie,Harris,"Horticulturist, amenity",(881)845-5127,bookharris@richardson-foster.com,31733,4657177,2023-05-28,21,2023,...,28.61,2.12,91,1,3712.80,192.92,1350.44,5531.59,3953.95,1577.64
33,Cynthia,Palmer,"Surveyor, rural practice",+1-843-385-5943x730,palmer.cynthia@weaver.com,95847,6155436,2023-03-15,11,2023,...,178.70,1.93,159,2,32105.28,306.87,2148.09,37421.81,30561.39,6860.42
34,Erin,Robertson,Science writer,+1-449-731-7108x96007,robertsonerin8454@cox.com,97623,9311270,2023-04-29,17,2023,...,30.31,1.28,112,1,4710.72,143.36,1003.52,6242.81,4398.24,1844.57
35,Catherine,Barnes,Airline pilot,+1-428-595-7971x494,affect.catherine.6507@singh.org,68703,4178798,2023-03-27,13,2023,...,54.06,0.78,221,5,13646.75,172.38,1206.66,16227.35,13153.92,3073.43
36,Corey,Wells,Environmental health practitioner,+1-500-281-1615x1387,wellsc964@mercado.com,28927,8688413,2023-04-15,15,2023,...,116.11,10.74,107,2,22427.20,1149.18,8044.26,33290.07,20468.03,12822.04
37,Bradley,Spencer,Warehouse manager,+1-260-443-8861x751,b.spencer.1089@ross.com,48015,5300796,2023-04-18,16,2023,...,36.01,0.27,105,2,4963.35,28.35,283.50,5732.18,4064.55,1667.63
38,Andrea,Brooks,IT technical support officer,+1-225-510-6030,brooks_institution_650@stone.com,90654,9611044,2023-05-23,21,2023,...,27.00,0.85,37,4,1074.11,31.45,314.50,1517.06,1313.50,203.56
39,Mallory,Mitchell,Quarry manager,335-735-8539x4710,mitchell.mallory.7004@powell-english.com,67516,7012133,2023-04-24,17,2023,...,1.62,1.39,66,1,115.50,91.74,642.18,827.77,749.10,78.67
40,William,Mccann,"Accountant, chartered",001-664-359-2306x9919,mccannw5477@rodriguez-johnson.com,75118,3735477,2023-03-14,11,2023,...,37.57,2.43,65,0,3708.90,157.95,1105.65,5259.90,3547.70,1712.20
41,Douglas,Bean,"Doctor, general practice",233.661.3092,generation.d@brown.com,32185,8882115,2023-04-07,14,2023,...,131.96,1.89,43,2,6080.20,81.27,568.89,7264.13,6243.17,1020.96
42,Victor,Griffith,Structural engineer,001-234-380-1800,victorgriffith@contreras.com,96736,1035406,2023-05-21,20,2023,...,30.02,1.10,131,5,5426.02,144.10,1008.70,7029.93,4941.32,2088.61
43,Taylor,Wagner,Toxicologist,001-870-430-0002x9776,wagner_t@brown.com,89499,4765519,2023-02-28,9,2023,...,136.93,6.70,192,4,38551.68,1286.40,9004.80,51955.45,35295.36,16660.09
44,Barry,Johnson,"Education officer, museum",3804491689,johnson.end@clarke.com,79827,3117013,2023-05-04,18,2023,...,131.96,1.89,236,2,33370.40,446.04,3122.28,39868.25,34264.84,5603.41
45,Daniel,Newman,"Designer, interior/spatial",907-222-8932,newman.daniel.3570@patel.com,45569,8286486,2023-03-12,10,2023,...,162.27,13.83,10,2,1752.10,138.30,968.10,2971.82,2590.80,381.02
46,Ashley,Hernandez,Retail buyer,264-496-5412,ashley.later.185@hernandez-shaw.info,61647,4950072,2023-01-30,5,2023,...,1.83,34.85,290,9,739.50,10106.50,70745.50,78097.36,71276.20,6821.16
47,Vincent,Davis,"Designer, exhibition/display",(388)713-4554,davisvincent3740@lopez-king.net,53409,9662359,2023-01-14,2,2023,...,0.50,0.96,22,2,19.14,21.12,211.20,251.65,222.20,29.45
48,Daniel,Newman,"Designer, interior/spatial",907-222-8932,newman.daniel.3570@patel.com,45569,8286486,2023-03-12,10,2023,...,17.30,10.90,31,4,581.56,337.90,2365.30,3219.44,2901.60,317.84
49,Curtis,Garcia,Bookseller,676-685-3722x870,curtis.garcia.6686@gardner.com,17002,9585312,2023-05-16,20,2023,...,179.17,7.20,22,4,4592.50,158.40,1108.80,6228.67,5050.54,1178.13

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [20]:
# Check your work using the totals above
orders = [2742071, 2173913, 6128929]
for i in orders:
    print(f"Order ID {i} had a total price of ${df['total_price'].loc[df['order_id'] == i].sum().round(2)}")

Order ID 2742071 had a total price of $152811.89
Order ID 2173913 had a total price of $162388.71
Order ID 6128929 had a total price of $923441.25

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [22]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
top_5 = df['client_id'].value_counts().nlargest().index
grouped_df = df.groupby('client_id')['total_price'].sum()
for i in top_5:
    print(f"Client {i} spent ${grouped_df[i].round(2)}")

Client 33615 spent $8377308.52
Client 66037 spent $10259514.79
Client 46820 spent $9743794.36
Client 38378 spent $12906550.87
Client 24741 spent $82268892.02

In [23]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
grouped_df = df.groupby('client_id').sum()
cleaned_grouped_df = grouped_df[['qty', 'shipping_price', 'total_price', 'total_cost', 'profit']]
top_5_df = cleaned_grouped_df.loc[top_5]
top_5_df

              qty  shipping_price  total_price   total_cost       profit
client_id
33615       64313      1828984.89   8377308.52   6175313.91   2201994.61
66037       43018      1395151.85  10259514.79   7004482.98   3255031.81
46820       75768      1601448.84   9743794.36   7007191.64   2736602.72
38378       73667      3429455.40  12906550.87   9634720.98   3271829.89
24741      239862      5126448.37  82268892.02  45688899.71  36579992.31

In [24]:
# Format the data and rename the columns to names suitable for presentation.
top_5_df = top_5_df.rename_axis('Client ID')
top_5_df = top_5_df.rename(columns={'qty':'Units', 
                                    'shipping_price':'Shipping(millions)',
                                    'total_price':'Total Revenue(millions)',
                                    'total_cost':'Total Cost(millions)',
                                    'profit':'Total Profit(millions)'})
# Define the money columns. 
money_cols = ['Shipping(millions)', 'Total Revenue(millions)', 'Total Cost(millions)', 'Total Profit(millions)']

# Define a function that converts a dollar amount to millions.
def dollar_to_mil(x):
    new_val = x/1000000
    return new_val
    
# Apply the currency_format_millions function to only the money columns. 
top_5_df[money_cols] = top_5_df[money_cols].apply(dollar_to_mil)

# Rename the columns to reflect the change in the money format. 
top_5_df

,Units,Shipping(millions),Total Revenue(millions),Total Cost(millions),Total Profit(millions)
Client ID,,,,,
33615,64313,1.828985,8.377309,6.175314,2.201995
66037,43018,1.395152,10.259515,7.004483,3.255032
46820,75768,1.601449,9.743794,7.007192,2.736603
38378,73667,3.429455,12.906551,9.634721,3.271830
24741,239862,5.126448,82.268892,45.688900,36.579992

In [48]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
sorted_top_5_df = top_5_df.sort_values(by='Total Profit(millions)', ascending=False)
sorted_top_5_df

,Units,Shipping(millions),Total Revenue(millions),Total Cost(millions),Total Profit(millions)
Client ID,,,,,
24741,239862,5.126448,82.268892,45.688900,36.579992
38378,73667,3.429455,12.906551,9.634721,3.271830
66037,43018,1.395152,10.259515,7.004483,3.255032
46820,75768,1.601449,9.743794,7.007192,2.736603
33615,64313,1.828985,8.377309,6.175314,2.201995